body{
    font-family:Arial, sans-serif;
    background-color: #f5f5f5;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* The main caLCULATOR BOX */

.container{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow : 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

/* calculator heading
 */
 h1{
    color: #333;

 }

 label{
    font-weight: bold;
 }

 input[type="date"]{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
 }

 /* styling button */

 button{
    background-color: #007BFF;
    color:none;
    padding: 10px 20px;
    border-radius:5px;
    font-size:16px;
    cursor: pointer;
 }

 p{
    margin-top: 20px;
    font-size: 18px;
 }